/*font-family: 'Montserrat', sans-serif;
font-family: 'Titillium Web', sans-serif;*/

html,
body,
header,
.view {
    height: 100%;
}
/* Navigation*/

.navbar {
    background-color: transparent;
}

.top-nav-collapse {
    background-color: #2E2E2E;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #2E2E2E;
    }
}

.full-bg-img {
    color: #fff;
}

.hm-black-strong .full-bg-img, .hm-black-strong .mask {
    background-color: rgba(0,0,0,.4) !important;
}

.view {
    background: url("../img/atx.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.h1-responsive {
    font-size: 85px !important;
    font-family: 'Montserrat', sans-serif;
}

.h2-responsive {
    font-size: 25px !important;
    font-family: 'Titillium Web', sans-serif;
}

p {
    font-size: 20px;
    font-family: 'Titillium Web', sans-serif;
}

.btn-primary {
    background: #31344F !important;
}