
html,
body,
header,
.view {
    height: 100%;
}
/* Navigation*/

.navbar {
    background-color: transparent;
}

.top-nav-collapse {
    background-color: #2E2E2E;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #2E2E2E;
    }
}

.full-bg-img {
    color: #fff;
}

.view {
    background: url("../img/austin.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
